{% extends 'base.html.twig' %}

{% block body %}
    <div id="banniere">
        <h2 class="titre-secondaire">MON COMPTE</h2>
    </div>
    <h3>Modifier mon mot de passe</h3>

    <div class="registration-form">
        {{ form_start(modifyPassword) }}
            {{ form_row(modifyPassword.actualPassword) }}
            {{ form_row(modifyPassword.plainPassword) }}
            {{ form_row(modifyPassword.submit) }}
            {{ form_errors(modifyPassword) }}
          {{ form_end(modifyPassword) }}
    </div>
    <div class="btn-annuler-mdf-mdp">
        <a href="{{ path('app_profile_index') }}">Annuler</a>
    </div>

{% endblock %}