{% extends 'base.html.twig' %}

{% block body %}
    <div id="banniere">
        <h2 class="titre_secondaire">MON COMPTE</h2>
    </div>
    <h3 class="titre_tertiaire">Modifier mon mot de passe</h3>

    <div class="info-display-form registration-form">
        {{ form_start(modifyPassword) }}
            {{ form_row(modifyPassword.actualPassword) }}
            {{ form_row(modifyPassword.plainPassword) }}
            {{ form_errors(modifyPassword) }}
        <div class="button-gpe">
            <a href="{{ path('app_profile_index') }}" class="btn" role="button">Annuler</a>
            <button type="submit">Créer</button>
        </div>
          {{ form_end(modifyPassword) }}
    </div>



{% endblock %}