{% extends 'base.html.twig' %}

{% block title %}Supprimer mon compte{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre_secondaire">MON COMPTE</h2>
    </div>
    <h3 class="titre_tertiaire">Supprimer mon compte</h3>
    <div class="account-delete-form">
    <p>Merci de bien vouloir renseigner votre mot de passe, votre compte sera ainsi définitivement supprimé :</p>
        <div class="info-display-form">
            {{ form_start(removeAccountForm) }}
            {{ form_errors(removeAccountForm) }}

            {{ form_widget(removeAccountForm) }}
            <div class="button-gpe">
                <a href="{{ path('app_profile_index') }}" role="button" class="btn">J'annule</a>
                <button type="submit" class="btn">Je confirme</button>
            </div>

            {{ form_end(removeAccountForm) }}
        </div>
</div>
{% endblock %}