{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="{% if app.request.get("_route") == 'app_register_ecurie' %}titre_secondaire{% endif %}">
            {% if app.request.get("_route") == 'app_register_ecurie' %}ECURIE{% endif %}
        </h2>
        <h2 class="{% if app.request.get("_route") == 'app_register_gite' %}titre_secondaire{% endif %}">
            {% if app.request.get("_route") == 'app_register_gite' %}GITE{% endif %}
        </h2>
    </div>
    <h3 class="titre_tertiaire">Mon compte</h3>

<div class="info-display-form registration-form">
    {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.customer.lastName) }}
        {{ form_row(registrationForm.customer.firstName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.customer.phoneNumber) }}
        {{ form_row(registrationForm.customer.address) }}
        {{ form_row(registrationForm.customer.zipCode) }}
        {{ form_row(registrationForm.customer.city) }}
        {{ form_row(registrationForm.customer.birthDate) }}
{#        test si la variable existe et si oui je l'affiche#}
        {% if registrationForm.customer.horseName is defined %}
            {{ form_row(registrationForm.customer.horseName) }}
        {% endif %}
        {{ form_row(registrationForm.plainPassword.first) }}
        {{ form_row(registrationForm.plainPassword.second) }}

        <div class="button-gpe">
                <a href="{{ path('main_home') }}" role="button" class="btn">Annuler</a>
                <button type="submit">Créer</button>
        </div>
        {{ form_errors(registrationForm) }}
    {{ form_end(registrationForm) }}

</div>
{% endblock %}
