{% extends 'base.html.twig' %}

{% block title %}Le Gîte{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre_secondaire">LE GITE</h2>
    </div>
    <h3 class="titre_tertiaire">Présentation</h3>
    <section class="presentation-gite">
        <div class="image-flottante">
            <img src="{{ asset('images/hortensia1.jpeg') }}" alt="un hortensia en fleur">
        </div>
        <p>
            Nous vous accueillons dans un écrin de verdure au calme, à 30 minutes du centre de Nantes et à 1 heure des
            plages.
        </p>
        <p>
            Notre gîte équestre est composé de 2 chambres, 1 salle d'eau, une cuisine ouverte sur le séjour et un
            jardinet avec vu sur les chevaux. Il peut ainsi accueillir 4 personnes. Nous vous accueillons avec votre
            animal de compagnie. Les chiens de catégorie 4 ne sont malheureusement pas accéptés.
            Les prestations sont haut de gamme.
        </p>
        <p>
            De nombreuses ballades entourent notre domaine que ce soit à pied,à cheval ou à vélo.
            Un pré est à votre disposition si vous souhaitez venir avec votre cheval. Il pourra bénéficier des mêmes
            prestations que les chevaux de la pension. Selon la saison, du foin à volonté lui sera servi. La capacité
            maximale est de 4 chevaux...
        </p>
        <p>
            Alors, n'hésitez plus et réservez dès à présent vos dates sur notre site internet.
        </p>
        <p>
            Au plaisir de vous accueillir... <br>
            L'équipe du Domaine Le Petit Rocher
        </p>
    </section>
    <hr>
    <section class="photos-gite">
        <h3>La Galerie Photos</h3>
        <ul class="gallery grid-photos-gite">
            <li>
                <a href="{{ asset('images/facade_gite.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/gite/facade_gitepf.jpeg') }}" alt="la façade du gite">
                    <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/gite1.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/gite/gite1pf.jpeg') }}" alt="le jardinet du gite">
                    <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/gite2.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/gite/gite2pf.jpeg') }}" alt="la cuisine du gite">
                    <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/gite3.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/gite/gite3pf.jpeg') }}" alt="la salle à manger">
                    <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/gite4.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/gite/gite4pf.jpeg') }}" alt="une chambre du gite">
                    <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/gite5.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/gite/gite5pf.jpeg') }}" alt="la salle de bain">
                    <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/hortensia.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/gite/hortensiapf.jpeg') }}" alt="un hortensia en fleur">
                    <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/presentation_gite.jpg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/gite/presentation_gitepf.jpg') }}" alt="le jardin du domaine">
                    <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/gite_presentation2.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/gite/gite_presentation2pf.jpeg') }}" alt="le portail d'entrée">
                    <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
        </ul>
    </section>
{% endblock %}

