{% extends'base.html.twig' %}

{% block title %}Détails évènement{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre-secondaire">L'ECURIE</h2>
</div>
<h3>Détails de l'évènement</h3>

<div>
    <p><span>Nom de l'évènement:</span>
        {{ event.name }}
    </p>
</div>
<div>
    <p><span>Catégorie:</span>
        {{ event.category.name }}
    </p>
</div>
<div>
    <p><span>Date de la sortie:</span>
        {{ event.startDate|date('d-m-y') }}
    </p>
</div>
<div>
    <p><span>Heure de la sortie:</span>
        {{ event.startTime.format('H:i') }}
    </p>
<div>
    <p><span>Date limite d'inscription:</span>
        {{ event.deadLine|date('d-m-y') }}
    </p>
</div>
<div>
    <p><span>Détails de l'évènement:</span>
        {{ event.eventDetails }}
    </p>
</div>
    {% if app.user %}
        {% if event.createdBy.customer.id != app.user.id %}
        {% if not event.isUserSubscribed(app.user) %}
            <button class="btn-inscription">
                <a href="{{ path('ecurieevent_subscribe', { id:event.id }) }}">M'inscrire</a>
            </button>
        {% else %}
            <button class="btn-desinscription">
                <a href="{{ path('ecurieevent_unsubscribe', {id:event.id}) }}">Me désinscrire</a>
            </button>
        {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}