{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre_secondaire">REINITIALISATION DU MOT DE PASSE</h2>
    </div>
<h3 class="titre_tertiaire">Réinitialisation de votre mot de passe</h3>
    <div class="info-display-form password-reset-form">

        {{ form_start(resetForm) }}

        {{ form_row(resetForm.plainPassword.first) }}
        {{ form_row(resetForm.plainPassword.second) }}
            {{ form_errors(resetForm) }}

        <button class="btn">Réinitialiser</button>
        {{ form_end(resetForm) }}
        </div>

{% endblock %}
