{#
{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre-secondaire">Créer un utilisateur</h2>
</div>
<div class="creer-utilisateur-form">

    {{ form_start(createUserForm) }}

        {{ form_row(createUserForm.customer.lastName) }}
        {{ form_row(createUserForm.customer.firstName) }}
        {{ form_row(createUserForm.email) }}
        {{ form_row(createUserForm.customer.phoneNumber) }}
        {{ form_row(createUserForm.customer.address) }}
        {{ form_row(createUserForm.customer.zipCode) }}
        {{ form_row(createUserForm.customer.city) }}
        {{ form_row(createUserForm.customer.birthDate) }}
        {% if createUserForm.customer.horseName is defined %}
            {{ form_row(createUserForm.customer.horseName) }}
        {% endif %}
        <div class="admin-checkbox">
            <div class="role-admin-checkbox">
                {{ form_row(createUserForm.roles) }}
            </div>
            <div class="is-valid-admin-checkbox">
                {{ form_row(createUserForm.isValid) }}
            </div>
        </div>


    <button type="submit" class="btn-creer">Créer</button>

    {{ form_errors(createUserForm) }}
    {{ form_end(createUserForm) }}

    </div>


{% endblock %}#}
