{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}

    <div id="banniere">
        <h2 class="titre_secondaire">MODIFIER UN UTILISATEUR</h2>
    </div>
    <div class="info-display-form modifier-utilisateur-form">
        {{ form_start(editUserForm) }}
            {{ form_widget(editUserForm._token) }}
            {{ form_row(editUserForm.customer.lastName) }}
            {{ form_row(editUserForm.customer.firstName) }}
            {{ form_row(editUserForm.email) }}
            {{ form_row(editUserForm.customer.phoneNumber) }}
            {{ form_row(editUserForm.customer.address) }}
            {{ form_row(editUserForm.customer.zipCode) }}
            {{ form_row(editUserForm.customer.city) }}
            {{ form_row(editUserForm.customer.birthDate) }}
            {% if editUserForm.customer.horseName is defined %}
                {{ form_row(editUserForm.customer.horseName) }}
            {% endif %}
            {{ form_row(editUserForm.contractFileName) }}
            {{ form_row(editUserForm.roles) }}
            {{ form_row(editUserForm.isValid) }}
            {{ form_errors(editUserForm) }}
            <div class="button-gpe">
                <a href="{{ path('app_admin_users_list') }}" role="button" class="btn">Annuler</a>
                <button type="submit" class="btn">Modifier</button
            </div>
        {{ form_end(editUserForm) }}
    </div>
    </div>

{% endblock %}