{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <div id="banniere">
        <h2 class="titre_secondaire">LISTE DES UTILISATEURS</h2>
    </div>
    <section class="admin-user-filtre-affichage">
       {% include 'inc/_admin_users_filter.html.twig' %}
    </section>

        <div class="users-list-container">
            <table class="admin-list">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>E-mail</th>
                    <th>Compte</th>
                    <th>Rôle</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <td>{{ user.customer.lastName }}</td>
                        <td>{{ user.customer.firstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.isValid == 1 %}
                                Activé
                            {% else %}
                                Désactivé
                            {% endif %}
                        </td>
                        <td>
                            {% if 'ROLE_ADMIN' in user.roles %}
                                Admin
                            {% elseif 'ROLE_ECURIE' in user.roles %}
                                Écurie
                            {% elseif 'ROLE_GITE' in user.roles %}
                                Gîte
                            {% else %}
                                Aucun rôle
                            {% endif %}

                        </td>

                        <td>
                            <a href="{{ path('app_admin_user_edit', { id: user.id }) }}" role="button" class="clickable-link">Modifier - </a>
                            <a href="{{ path('app_admin_user_remove', { id: user.id}) }}"
                               onClick="return window.confirm('Etes vous sûr de vouloir supprimer cet utilisateur?');" role="button" class="clickable-link">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(pagination) }}

        </div>
{% endblock %}