{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <div id="banniere">
        <h2 class="titre-secondaire">Liste des utilisateurs</h2>
    </div>

    <div>
        <table class="admin-list">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>E-mail</th>
                <th>Compte</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.customer.lastName }}</td>
                    <td>{{ user.customer.firstName }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.isValid == 1 %}
                            Actif
                        {% else %}
                            Inactif
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_utilisateur_modifier', { id: user.id }) }}">Modifier - </a>
                        <a href="{{ path('admin_utilisateur_supprimer', { id: user.id}) }}"
                           onClick="return window.confirm('Etes vous sûr de vouloir supprimer cet utilisateur?');">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}

        {#<div class="btn-creer-utilisateur">
            <a href="{{ path('admin_utilisateur_creer') }}">Créer un nouvel utilisateur</a>
        </div>#}
    </div>
{% endblock %}