{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre_secondaire">ADMINISTRATION</h2>
</div>
<div class="titre_tertiaire">
    <h3>Dashboard</h3>
    <p>Date du jour : {{ currentDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
</div>
    <section class="dashboard">
        <div class="infos-container">
            <a href="{{ path('app_profile_index') }}" role="button">Mes infos</a>
        </div>
        <div class="infos-container">
            <a href="{{ path('app_admin_users_list') }}" role="button">Utilisateurs</a>
        </div>
        <div class="infos-container">
             <a href="{{ path('app_ecurie_event_index') }}" role="button">Evènements</a>
        </div>
        <div class="infos-container">
             <a href="{{ path('app_admin_reservations_list') }}" role="button">Réservations</a>
        </div>
    </section>
{% endblock %}