{% extends 'base.html.twig' %}


{% block title %}Domaine Le Petit Rocher - Contact{% endblock %}

{% block body %}


    <div id="banniere">
    <h2 class="titre-secondaire">CONTACT</h2>
    </div>

   <section class="section-contact">
        <h3>Parlons de vos envies...</h3>

       <div class="contact-form">
          {{ form_start(contactForm) }}
           <div class="contact-form-nom-email">
               <div class="contact-form-column">
                {{ form_row(contactForm.fullName) }}
               </div>
               <div class="contact-form-column">
                {{ form_row(contactForm.email) }}
               </div>
           </div>
          {{ form_row(contactForm.message) }}
          <button class="btn-contact-env">Envoyer</button>

          {{ form_end(contactForm) }}
       </div>
    </section>

{% endblock %}
