{% extends 'base.html.twig' %}

{% block title %}Ecurie - Plannifier un évènement{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre_secondaire">ECURIE</h2>
    </div>
    <h3 class="titre_tertiaire">Plannifier un évènement</h3>
        <p class="sous-titre">Date du jour : {{ currentDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>


    <div class="info-display-form create-event-form">
        {{ form_start(createEventForm) }}
        {{ form_errors(createEventForm) }}

        {{ form_row(createEventForm.name) }}
        {{ form_row(createEventForm.category) }}
        {{ form_row(createEventForm.startDate) }}
        {{ form_row(createEventForm.startTime) }}
        {{ form_row(createEventForm.deadLine) }}
        {{ form_row(createEventForm.eventDetails) }}
        <div class="button-gpe">
            <a href="{{ path('app_ecurie_event_index') }}" role="button" class="btn">Annuler</a>
            <button type="submit">Plannifier</button>
        </div>
        {{ form_end(createEventForm) }}


    </div>

{% endblock %}
