{% extends'base.html.twig' %}

{% block title %}Détails évènement{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre_secondaire">L'ECURIE</h2>
</div>
<h3 class="titre_tertiaire">Détails de l'évènement</h3>
<div class="table">
<table class="details-form">

    <tr>
        <th>Nom de l'évènement :</th>
        <td>
            {{ event.name }}
        </td>
    </tr>
    <tr>
        <th>Catégorie :</th>
        <td>{{ event.category.name }}</td>
    </tr>
    <tr>
        <th>Date de la sortie :</th>
        <td>{{ event.startDate|date('d-m-y') }}</td>
    </tr>
    <tr>
        <th>Heure de la sortie :</th>
        <td>{{ event.startTime.format('H:i') }}</td>
    </tr>
    <tr>
        <th>Date limite d'inscription :</th>
        <td>{{ event.deadLine|date('d-m-y') }}</td>
    </tr>
    <tr>
        <th>Détails de l'évènement :</th>
        <td class="description">
            <p>{{ event.eventDetails }}</p>
        </td>
    </tr>
</table>

    <div class="button-gpe">
        {% if app.user %}
            {% if event.createdBy.customer.id != app.user.id %}
                {% if not event.isUserSubscribed(app.user) %}
                    <a href="{{ path('app_ecurie_event_subscribe', { id:event.id }) }}" class="btn btn-modifier" role="button">M'inscrire</a>
                {% else %}
                    {% set subscribe = event.getUserSubscribe(app.user) %}
                    <a href="{{ path('app_ecurie_event_unsubscribe', {id:subscribe.id}) }}"
                       onClick="return window.confirm('Etes vous sûr de vouloir vous désinscrire ?')" class="btn btn-modifier" role="button">Me désinscrire</a>
                {% endif %}
            {% else %}
                <a href="{{ path('app_ecurie_event_edit', { id:event.id }) }}" class="btn btn-modifier" role="button">Modifier</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') and event.status == 'opened' %}
                <a href="{{ path('app_ecurie_event_remove', { id:event.id }) }}"
                   onClick="return window.confirm('Etes vous sûr de vouloir supprimer l\'évènement ?')" class="btn btn-modifier" role="button">Supprimer</a>
                <a href="{{ path('app_ecurie_event_edit', { id:event.id }) }}" class="btn btn-modifier" role="button">Modifier</a>
            {% endif %}
        {% endif %}
        <a href="{{ path('app_ecurie_event_index') }}" class="btn btn-annuler" role="button">Retour</a>
    </div>
</div>
{% endblock %}