{% extends'base.html.twig' %}

{% block title %}Détails évènement{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre-secondaire">L'ECURIE</h2>
</div>
<h3>Détails de l'évènement</h3>

<table class="details-form">

    <tr>
        <th>Nom de l'évènement:</th>
        <td>
            {{ event.name }}
        </td>
    </tr>
    <tr>
        <th>Catégorie:</th>
        <td>{{ event.category.name }}</td>
    </tr>
    <tr>
        <th>Date de la sortie:</th>
        <td>{{ event.startDate|date('d-m-y') }}</td>
    </tr>
    <tr>
        <th>Heure de la sortie:</th>
        <td>{{ event.startTime.format('H:i') }}</td>
    </tr>
    <tr>
        <th>Date limite d'inscription:</th>
        <td>{{ event.deadLine|date('d-m-y') }}</td>
    </tr>
    <tr>
        <th>Détails de l'évènement:</th>
        <td class="description">
            <p>{{ event.eventDetails }}</p>
        </td>
    </tr>
</table>

    <div class="btn-details-e">
        {% if app.user %}
            {% if event.createdBy.customer.id != app.user.id %}
            {% if not event.isUserSubscribed(app.user) %}
                <button class="btn-inscription">
                    <a href="{{ path('ecurieevenement_inscrire', { id:event.id }) }}">M'inscrire</a>
                </button>
            {% else %}
                <button class="btn-desinscription">
                    <a href="{{ path('ecurieevenement_desinscrire', {id:event.id}) }}">Me désinscrire</a>
                </button>
            {% endif %}
            {% endif %}
        {% endif %}
        <button class="btn-retour"><a href="{{ path('ecurieevenement_liste') }}">Retour</a></button>
    </div>

{% endblock %}