{% extends 'base.html.twig' %}

{% block title %}Ecurie - Modifier un évènement{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre_secondaire">ECURIE</h2>
    </div>
    <h3 class="titre_tertiaire">Modifier un évènement</h3>
    <div class=" info-display-form edit-event-form">
        {{ form_start(editEventForm) }}
        {{ form_row(editEventForm.name) }}
        {{ form_row(editEventForm.category) }}
        {{ form_row(editEventForm.startDate) }}
        {{ form_row(editEventForm.startTime) }}
        {{ form_row(editEventForm.deadLine) }}
        {{ form_row(editEventForm.eventDetails) }}
        <div class="button-gpe">
            <a href="{{ path('app_ecurie_event_index') }}" class="btn" role="button">Annuler</a>
            <button class="btn-modifier" type="submit">
                Modifier
            </button>
        </div>
        {{ form_errors(editEventForm) }}
        {{ form_end(editEventForm) }}


    </div>

{% endblock %}