{% extends 'base.html.twig'  %}

{% block title %}Les évènements{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre_secondaire">L'ECURIE</h2>
</div>

    <h3 class="titre_tertiaire">Les évènements aux Ecuries</h3>
        <p class="sous-titre">Date du jour : {{ currentDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>


<section class="event-filtre-affichage">

    {% include 'inc/_filter.html.twig' %}
    <div class="events-list-container">
    <table class="events-list">
        <thead>
        <tr>
            <th>Nom de l'évènement</th>
            <th>Catégorie</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Fin des Inscriptions</th>
            <th>Les inscrits</th>
            <th>Statut</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>
                <div class="position-left">
                    <a href="{{ path('app_ecurie_event_details', {'id': event.id}) }}" role="button" class="clickable-link">
                        {{ event.name }}
                    </a>
                </div>
                </td>
                <td>{{ event.category.name }}</td>
                <td>{{ event.startDate|date('d-m-y') }}</td>
                <td>{{ event.startTime|date('H') }}h{{ event.startTime| date('i') }}</td>
                <td>{{ event.deadLine|date('d-m-y') }}</td>
                <td>
                    <div class="tooltip">{{ event.eventCustomers.count }}
                        <span class="tooltiptext">
                            {% for eventCustomer in event.eventCustomers %}
                                {{ eventCustomer.customer.firstName }} {{ eventCustomer.customer.lastName[:1]|upper }}
                                {% if not loop.last %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                </td>
                {# Appelle la constante depuis l'entité Event #}
                <td>{{ event.status == constant('App\\Entity\\Event::OPENED_STATUS') ? 'Ouvert' : 'Fermé' }}</td>
                <td>{{ event.createdBy.customer.firstName ~ ' ' ~ event.createdBy.customer.lastName[:1]|upper }}</td>
                <td>
                    {% include('inc/_affichage_actions.html.twig') %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
     {{ knp_pagination_render(events) }}


        <a href="{{ path('app_ecurie_event_create') }}" role="button" class="btn">Plannifier un évènement</a>

</section>
{% endblock %}