{% extends 'base.html.twig'  %}

{% block title %}Présentation de l'Ecurie!{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre-secondaire">L'ECURIE</h2>
</div>
    <div class="titre-tertiaire">
        <h3>Les évènements aux Ecuries</h3>
        <p>Date du jour : {{ currentDate|date("d/m/Y") }}</p>
    </div>

<section class="event-filtre-affichage">

    {% include 'inc/_filter.html.twig' %}

    <table class="events-list">
        <thead>
        <tr>
            <th>Nom de l'évènement</th>
            <th>Catégorie</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Fin des Inscriptions</th>
            <th>Les inscrits</th>
            <th>Statut</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in pagination %}
            <tr>
                <td>
                <div class="position-left">
                    <a href="{{ path('ecurieevenement_details', {'id': event.id}) }}">
                        {{ event.name }}
                    </a>
                </div>
                </td>
                <td>{{ event.category.name }}</td>
                <td>{{ event.startDate|date('d-m-y') }}</td>
                <td>{{ event.startTime|date('H') }}h{{ event.startTime| date('i') }}</td>
                <td>{{ event.deadLine|date('d-m-y') }}</td>
                <td>
                    <div class="tooltip">{{ event.eventCustomer.count }}
                        <span class="tooltiptext">
                            {% for eventCustomer in event.eventCustomer %}
                                {{ eventCustomer.customer.firstName }} {{ eventCustomer.customer.lastName[:1]|upper }}
                                {% if not loop.last %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                </td>
                {# Appelle la constante depuis l'entité Event #}
                <td>{{ event.status == constant('App\\Entity\\Event::OPENED_STATUS') ? 'Ouvert' : 'Fermé' }}</td>
                <td>{{ event.createdBy.customer.firstName ~ ' ' ~ event.createdBy.customer.lastName[:1]|upper }}</td>
                <td>
                    {% include('inc/_affichage_actions.html.twig') %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

    <div class="btn-event-plan">
        <a href="{{ path('ecurieevenement_creer') }}">Plannifier un évènement</a>
    </div>
</section>
{% endblock %}