{% extends 'base.html.twig' %}

{% block title %}Présentation de l'Ecurie!{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre-secondaire">L'ECURIE</h2>
    </div>
    <h3>Mes Informations</h3>
    <section class="form-infos">

            {{ form_start(profilForm) }}
             {{ form_errors(profilForm) }}

                {{ form_row(profilForm.customer.lastName) }}

                {{ form_row(profilForm.customer.firstName) }}

                {{ form_row(profilForm.email) }}

                {{ form_row(profilForm.customer.phoneNumber) }}

                {{ form_row(profilForm.customer.address) }}

                {{ form_row(profilForm.customer.zipCode) }}

                {{ form_row(profilForm.customer.city) }}

                {{ form_row(profilForm.customer.birthDate) }}

                {{ form_row(profilForm.customer.horseName) }}

                {{ form_row(profilForm.plainPassword.first) }}

                {{ form_row(profilForm.plainPassword.second) }}

                {{ form_errors(profilForm.plainPassword) }}

        <div class="btns-divers">
                <button type="submit" class="btn">Modifier</button>
                    {{ form_end(profilForm) }}

                <li><a href="{{ path('ecurie_home') }}" title="annuler">Annuler</a></li>
                <li><a href="{{ path('ecurie_supprimer_compte') }}" title="supprimer">Supprimer</a></li>
        </div>
    </section>
{% endblock %}