{% extends'base.html.twig' %}

{% block title %}Le Gîte{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre-secondaire">LE GITE</h2>
</div>
    <div class="titre-tertiaire">
        <h3>Réservation</h3>
            <p>Date du jour : {{ currentDate|date("d/m/Y") }}</p>
    </div>

<section class="reservation-form">
{{ form_start(reservationForm) }}
    <div class="resa-gpe">
        {{ form_row(reservationForm.startDate, {
            'attr': {'class': 'resa-input'},
            'label_attr': {'class': 'resa-lab'}
        }) }}
    </div>
    <div class="resa-gpe">
    {{ form_row(reservationForm.endDate, {
        'attr': {'class': 'resa-input'},
        'label_attr': {'class': 'resa-lab'}
    }) }}
    </div>
    <div class="resa-gpe">
    {{ form_row(reservationForm.horseNb, {
        'attr': {'class': 'resa-input'},
        'label_attr': {'class': 'resa-lab'}
    }) }}
    </div>
    {{ form_errors(reservationForm) }}

    <button class="btn-submit" type="submit">
        Réserver
    </button>
{{ form_end(reservationForm) }}
</section>
    <div id="calendar" style="display: none;">
    </div>
    <div class="loader"></div>

{% endblock %}

{% block javascripts %}
    <script>
        const options = {
            type: 'default'
        }
        document.addEventListener('DOMContentLoaded', () => {
            const calendar = new VanillaCalendar('#calendar');
            calendar.init();
        });

    </script>
{% endblock %}