{% extends 'base.html.twig' %}

{% block title %}Le Gîte{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre-secondaire">LE GITE</h2>
    </div>
    <div class="titre-tertiaire">
        <h3>Mes réservations</h3>

        <p>Date du jour : {{ currentDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
    </div>

    <section class="liste-resa">
        {% if reservations is empty %}
            <p>Vous n'avez aucune réservation pour le moment.</p>
        {% else %}
            {% for reservation in reservations %}

                <ul>
                    <li>Date : du {{ reservation.startDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }} au {{ reservation.endDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
                        <button><a href="{{ path('app_account_home_reservationList_edit', { id:reservation.id }) }}">Modifier</a></button>
                        <button><a href="{{ path('app_account_home_reservationList_remove', { id:reservation.id }) }}"
                                   onClick="return window.confirm('Etes vous sûr de vouloir supprimer cette réservation ?');"> Supprimer</a></button>
                    </li>
                    {% if reservationForm.horseNd is defined %}
                    <li>Nb de chevaux : {{ reservation.horseNb }}</li>
                    {% endif %}
                </ul>

                {% endfor %}
        {% endif %}

    </section>
{% endblock %}