{% extends'base.html.twig' %}

{% block title %}Le Gîte{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre-secondaire">LE GITE</h2>
</div>
    <div class="titre-tertiaire">
        <h3>Réservation du gîte 4 personnes</h3>
            <p>Date du jour : {{ currentDate|date("d/m/Y") }}</p>
    </div>

<section class="reservation-form">
{{ form_start(reservationForm) }}
    <div id="calendar" style="display: none;">
    </div>
    <div id="loader"></div>
    <div class="resa-gpe">
        {{ form_row(reservationForm.startDate, {
            'attr': {'class': 'resa-input'},
            'label_attr': {'class': 'resa-lab'}
        }) }}
    </div>
    <div class="resa-gpe">
    {{ form_row(reservationForm.endDate, {
        'attr': {'class': 'resa-input'},
        'label_attr': {'class': 'resa-lab'}
    }) }}
    </div>
    <div class="resa-gpe">
    {{ form_row(reservationForm.horseNb, {
        'attr': {'class': 'resa-input'},
        'label_attr': {'class': 'resa-lab'}
    }) }}
    </div>
    {{ form_errors(reservationForm) }}

    <button class="btn-submit" type="submit">
        Réserver
    </button>
{{ form_end(reservationForm) }}
</section>

{% endblock %}

{% block javascripts %}
    <script>
        //async permet de déclarer la fonction comme asynchrone et donc d'utiliser await
        document.addEventListener('DOMContentLoaded', async () => {

            // envoie la requete et attente de la réponse grâce à await
            const response = await fetch('/prive/gite/reservation/dates')
            const result = await response.json()
            console.log(result)
                const options = {
                    settings: {
                        range: {
                            disabled: [result],
                            min: '2023-01-01',
                            max: '2025-01-01'
                        },
                        lang: 'fr-FR',
                    },
                    type: 'default',
                }
            const calendar = new VanillaCalendar('#calendar', options);
            calendar.init();
            //cache le loader et affiche le calendrier
            document.getElementById('loader').style.display = 'none'
            document.getElementById('calendar').style.display = 'block'
        });

    </script>
{% endblock %}