{% extends 'base.html.twig' %}

{% block title %}Le Gîte{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre_secondaire">LE GITE</h2>
    </div>
    <h3 class="titre_tertiaire">Mes réservations</h3>
        <p class="sous-titre">Date du jour : {{ currentDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>


    <section class="liste-resa">
        {% if reservations is empty %}
            <p>Vous n'avez aucune réservation pour le moment.</p>
        {% else %}
                <table class="admin-table user-reservation-list">
                    <thead>
                    <tr>
                        <th>Du</th>
                        <th>au</th>
                        <th>Nb de chevaux</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.startDate|date('d-m-y') }}</td>
                            <td>{{ reservation.endDate|date('d-m-y') }}</td>
                            <td>{{ reservation.horseNb }}</td>
                            <td>
                                <a href="{{ path('app_account_home_reservationList_edit', { id:reservation.id }) }}" role="button" class="clickable-link">Modifier - </a>
                                <a href="{{ path('app_account_home_reservationList_remove', { id:reservation.id }) }}"
                                   onClick="return window.confirm('Etes vous sûr de vouloir supprimer cette réservation ?');" role="button" class="clickable-link">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        {% endif %}
        <div class="button-gpe">
            <a href="{{ path('app_account_home_index') }}" class="btn" role="button">Annuler</a>
        </div>

    </section>
{% endblock %}