{% extends'base.html.twig' %}

{% block title %}Le Gîte{% endblock %}

{% block body %}
<div id="banniere">
    <h2 class="titre_secondaire">LE GITE</h2>
</div>

    <h3 class="titre_tertiaire">Réservation du gîte 4 personnes</h3>
    <p class="sous-titre">Date du jour : {{ currentDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>


<div class="info-display-form reservation-form">
{{ form_start(reservationForm) }}
    <div id="calendar" style="display: none;">
    </div>
    <div id="loader"></div>
    <div class="resa-gpe">
        {{ form_row(reservationForm.startDate) }}
    </div>
    <div class="resa-gpe">
    {{ form_row(reservationForm.endDate) }}
    </div>
    <div class="resa-gpe">
    {{ form_row(reservationForm.horseNb) }}
    </div>
    {{ form_errors(reservationForm) }}
    <div class="button-gpe">
        <a href="{{ path('app_gite_home_index') }}" role="button" class="btn">Annuler</a>
        <button class="btn-submit" type="submit">Réserver</button>
    </div>
{{ form_end(reservationForm) }}
</div>

{% endblock %}

{% block javascripts %}
    <script>
        //async permet de déclarer la fonction comme asynchrone et donc d'utiliser await
        //attend le chargement complet du DOM pour exécuter le code
        document.addEventListener('DOMContentLoaded', async () => {

            // envoie la requete et attente de la réponse grâce à await
            const response = await fetch('/gite/reservation/dates')
            const result = await response.json()
            console.log(result)
            const options = {
                settings: {
                    range: {
                        disabled: [result],
                        min: '2023-01-01',
                        max: '2025-01-01'
                    },
                    lang: 'fr-FR',
                },
                type: 'default',
            }
            const calendar = new VanillaCalendar('#calendar', options);
            calendar.init();
            //cache le loader et affiche le calendrier
            document.getElementById('loader').style.display = 'none'
            document.getElementById('calendar').style.display = 'block'
        });
    </script>
{% endblock %}