{% extends 'base.html.twig' %}

{% block title %}Indisponibilités{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre_secondaire">LES INDISPONIBILITES DU GITE</h2>
    </div>
    <section class="unavailabilities">
        {% if unavailabilities is empty %}
            <p>Il n'y a aucune indisponibilité pour le moment.</p>
        {% else %}
                <table class="admin-table admin-reservation-list">
                    <thead>
                    <tr>
                        <th>Du</th>
                        <th>au</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for unavailability in unavailabilities %}
                        <tr>
                            <td>{{ unavailability.startDate|date('d-m-y') }}</td>
                            <td>{{ unavailability.endDate|date('d-m-y') }}</td>
                            <td>
                                <a href="{{ path('app_admin_reservations_unavailable_date_edit', {id:unavailability.id}) }}" role="button" class="clickable-link">Modifier - </a>
                                <a href="{{ path('app_admin_reservations_unavailable_date_remove', {id:unavailability.id}) }}"
                                   onClick="return window.confirm('Etes vous sûr de vouloir supprimer cette plage d\'indisponibilité ?');" role="button" class="clickable-link">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        {% endif %}
            <div class="button-gpe">
                <a href="{{ path('app_admin_reservations_list') }}" role="button" class="btn">Annuler</a>
                <a href="{{ path('app_admin_reservations_unavailable_dates') }}" role="button" class="btn">Saisir une plage d'indisponibilité</a>
            </div>
    </section>
{% endblock %}
