{% extends 'base.html.twig' %}

{% block title %}Présentation de l'Ecurie!{% endblock %}

{% block body %}
    <div id="banniere">
        <h2 class="titre_secondaire">L'ECURIE</h2>
    </div>
    <h3 class="titre_tertiaire">Présentation</h3>
    <div class="presentation-ecuries">
        <div class="image-flottante">
            <img src="{{ asset('images/soins2.jpg') }}" alt="soins aux chevaux"></>
        </div>
         <p>
            Nous vous accueillons, avec plaisir, dans un cadre exceptionnel et chaleureux proche de Nantes où vous
            découvrirez de nombreuses ballades...
        </p>
        <p>
            C'est une écurie familiale, les chevaux, tous déferrés, vivent en troupeau (maximum 8) et bénéficient de 11
            hectares de prairie. Ils ont du foin "maison" à volonté ou un équivalent foin de Crau. Possibilité de les
            nourrir en plus une fois par jour. Les aliments sont à la charge du propriétaire.
        </p>
        <p>
            Les prés sont entièrement clôturés et bordés de haies végétales, vos chevaux seront en parfaite sécurité.
            <br>
            La carrière est neuve et mesure 50m X 30m. Le rond de longe mesure 18m de diamètre. Les installations ont
            été construites par des professionnels du monde de l'équitation.
            Nous avons 2 grands boxes en cas de nécessité et nous habitons sur le site.
        </p>
        <p>
            En option : cours de chant pour débutants ou confirmés : échauffement des articulations, posture, projection
            vocale, gestion du souffle... Autant de thèmes abordés que vous retrouvez dans la pratique de l'équitation
            et qui vous aideront à perfectionner la communication avec votre cheval. Alors n'hésitez plus, il est grand
            temps de vous faire plaisir...
        </p>
        <p>
            Nous tenions tout particulièrement à remercier Savannah Legain, l'Ame d'une Créative, de nous avoir réalisés
            de si belles photos. <br>
            Vous trouverez ci-dessous son lien instagram.
        </p>
        <p>
            A très bientôt ! <br>
            Pénélope
        </p>
    </div>
    <hr>
    <section class="presentation-photos">
        <h3>La Galerie Photos</h3>
        <h4>Instants immortalisés par l'Ame d'une Créative</h4>
        <div>
            <a href="https://www.instagram.com/stories/l.ame_d.une_creative/3083090038346291675/" target="_blank" role="button" class="lien-instagram-ldc">
                <span class="sr-only">(ouvre un lien vers intagram)</span>
                <img src="{{ asset('images/logo/lame_dune_creative.jpg') }}" alt="Logo l'Ame d'une créative">
                <div class="lien-hover">Lien Instagram</div>
            </a>
        </div>
        <ul class="gallery grid-photos-lame-dune-creative">
            <li>
                <a href="{{ asset('images/pres2.jpg') }}" class="lien-conteneur-photo">
                <img src="{{ asset('images/vignettes/lamedunecreative/pres2pf.jpg') }}" alt="pré chevaux">
                <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/pres3.jpg') }}" class="lien-conteneur-photo">
                <img src="{{ asset('images/vignettes/lamedunecreative/pres3pf.jpg') }}" alt="pré chevaux">
                <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/pres4.jpeg') }}" class="lien-conteneur-photo">
                <img src="{{ asset('images/vignettes/lamedunecreative/pres4pf.jpeg') }}" alt="pré chevaux">
                <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/pres1.jpg') }}" class="lien-conteneur-photo">
                <img src="{{ asset('images/vignettes/lamedunecreative/pres1pf.jpg') }}" alt="pré chevaux">
                <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/poneys.jpeg') }}" class="lien-conteneur-photo">
                <img src="{{ asset('images/vignettes/lamedunecreative/poneyspf.jpeg') }}" alt="Les Shetlands">
                <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/goldring.jpg') }}" class="lien-conteneur-photo">
                <img src="{{ asset('images/vignettes/lamedunecreative/goldringpf.jpg') }}" alt="la ponette Goldring">
                <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/rose.jpg') }}" class="lien-conteneur-photo">
                <img src="{{ asset('images/vignettes/lamedunecreative/rosepf.jpg') }}" alt="Une Rose">
                <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lulu.jpg') }}" class="lien-conteneur-photo">
                <img src="{{ asset('images/vignettes/lamedunecreative/lulupf.jpg') }}" alt="le regard du poney Lulu">
                <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/nid.jpg') }}" class="lien-conteneur-photo">
                <img src="{{ asset('images/vignettes/lamedunecreative/nidpf.jpg') }}" alt="Un nid d'oiseaux">
                <div class="photo-hover">Voir la photo</div>
                </a>
            </li>
        </ul>
        <h4>Les Installations</h4>
            <ul class="gallery grid-photos-installations">
                <li>
                    <a href="{{ asset('images/pres_hiver1.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/ecurie/pres_hiver1pf.jpeg') }}" alt="un pré en hiver">
                    <div class="photo-hover">Voir la photo</div>
                    </a>
                </li>
                <li>
                    <a href="{{ asset('images/pres_hiver2.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/ecurie/pres_hiver2pf.jpeg') }}" alt="les poneys dans un pré en hiver">
                    <div class="photo-hover">Voir la photo</div>
                    </a>
                </li>
                <li>
                    <a href="{{ asset('images/rond_de_longe1.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/ecurie/rond_de_longe1pf.jpeg') }}" alt="Rond de longe">
                    <div class="photo-hover">Voir la photo</div>
                    </a>
                </li>
                <li>
                    <a href="{{ asset('images/murk.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/ecurie/murkpf.jpeg') }}" alt="le cheval frison Murk">
                    <div class="photo-hover">Voir la photo</div>
                    </a>
                </li>
                <li>
                    <a href="{{ asset('images/murk1.jpg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/ecurie/murk1pf.jpg') }}" alt="Murk au galop dans le rond de longe">
                    <div class="photo-hover">Voir la photo</div>
                    </a>
                </li>
                <li>
                    <a href="{{ asset('images/penelope_et_murk.jpg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/ecurie/penelope_et_murkpf.jpg') }}" alt="Penelope et Murk">
                    <div class="photo-hover">Voir la photo</div>
                    </a>
                </li>
                <li>
                    <a href="{{ asset('images/carriere1.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/ecurie/carriere1pf.jpeg') }}" alt="La carrière">
                    <div class="photo-hover">Voir la photo</div>
                    </a>
                </li>
                <li>
                    <a href="{{ asset('images/carriere2.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/ecurie/carriere2pf.jpeg') }}" alt="La carrière au coucher du soleil">
                    <div class="photo-hover">Voir la photo</div>
                    </a>
                </li>
                <li>
                    <a href="{{ asset('images/les_ecuries.jpeg') }}" class="lien-conteneur-photo">
                    <img src="{{ asset('images/vignettes/ecurie/les_ecuriespf.jpeg') }}" alt="Les écuries">
                    <div class="photo-hover">Voir la photo</div>
                    </a>
                </li>
            </ul>
    </section>
{% endblock %}