<div class="form-filter admin-filter">
{{ form_start(searchUserForm, {'attr': {'class': 'filter-form'}}) }}
<div class="categories1-wrapper">
    {{ form_row(searchUserForm.q) }}
    <button type="submit" class="btn btn-annuler-filtre">Rechercher</button>
    <a href="{{ path('app_admin_users_list') }}" role="button" class=" btn btn-annuler-filtre">Annuler</a>
</div>
<div class="categories2-wrapper">
    <div class="checkbox-group">
        {{ form_row(searchUserForm.active, {'label_attr': {'class': 'group-label'}, 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="checkbox-group">
        {{ form_row(searchUserForm.role, {'label_attr': {'class': 'group-label'}, 'attr': {'class': 'form-control'}}) }}
    </div>
</div>
{{ form_end(searchUserForm) }}
</div>