<div class="filter-form">
{{ form_start(searchFormType, {'attr': {'class': 'custom-form'}}) }}
    {{ form_row(searchFormType.q, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(searchFormType.categories, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(searchFormType.dateDebut, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(searchFormType.dateFin, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(searchFormType.activite, {'attr': {'class': 'form-control'}}) }}
<button type="submit" class="btn-filtre">Rechercher</button>
{{ form_end(searchFormType) }}
</div>