{{ form_start(searchFormType, {attr: {class: 'filtre'}}) }}
    {{ form_row(searchFormType.q) }}
    {{ form_row(searchFormType.categories) }}
    {{ form_row(searchFormType.dateDebut) }}
    {{ form_row(searchFormType.dateFin) }}
    {{ form_row(searchFormType.choix1) }}
    {{ form_row(searchFormType.choix2) }}
    {{ form_row(searchFormType.choix3) }}
<button type="submit" class="btn-filtre">Rechercher</button>
{{ form_end(searchFormType) }}