<nav>

    <div class="nav-accueil">
            <ul>
            <li><a href="{{ path('main_home') }}" class="nav_link">Accueil</a></li>
            <li class="dropdown"><a href="#" class="nav_link" tabindex="0" aria-haspopup="true">L'Ecurie</a>
                <ul class="submenu" role="menu">
                    <li><a href="{{ path('app_ecurie_home_index') }}">Présentation</a></li>
                    {% if is_granted('ROLE_ECURIE') %}
                        <li><a href="{{ path('app_ecurie_event_index') }}">Les évènements</a></li>
                    {% endif %}
                    {% if not app.user %}
                    <li><a href="{{ path('app_register_ecurie') }}">S'inscrire</a></li>
                    {% endif %}
                </ul>
            </li>
             <li class="dropdown"><a href="#" class="nav_link" tabindex="0" aria-haspopup="true">Le Gîte</a>
                <ul class="submenu" role="menu">
                    <li><a href="{{ path('app_gite_home_index') }}">Présentation</a></li>
                    <li><a href="{{ path('app_gite_availabilities') }}">Disponibilités</a></li>
                    <li><a href="{{ path('app_gite_reservation_create') }}">Réserver</a></li>
                    {% if not app.user %}
                        <li><a href="{{ path('app_register_gite') }}">S'inscrire</a></li>
                    {% endif %}
                </ul>
             </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown"><a href="{{ path('app_admin_user_home') }}" class="nav_link">Administration</a>
                </li>
            {% endif %}
            {% if not is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('app_contact_index') }}" class="nav_link">Contact</a></li>
            {% endif %}
            {% if not app.user %}
                <li><a href="{{ path('app_login') }}" class="nav_link">Se connecter</a></li>
            {% endif %}

            {% if app.user %}
                <li><a href="{{ path('app_account_home_index') }}" class="nav_link" title="Compte">Mon Compte</a></li>
                <li><a href="{{ path('app_logout') }}" class="nav_link" title="Déconnexion">Se déconnecter</a></li>
            {% endif %}
        </ul>
    </div>

</nav>

            <button aria-label="toggle curtain navigation" class="nav-toggler">
                <span class="line l1"></span>
                <span class="line l2"></span>
                <span class="line l3"></span>
                <span class="line l4"></span>
            </button>

    {% block javascripts %}
        <script>
            const hamburgerButton = document.querySelector(".nav-toggler")
            const navigation = document.querySelector(".nav-accueil")

            hamburgerButton.addEventListener("click", toggleNav)

            function toggleNav(){
                hamburgerButton.classList.toggle("active")
                navigation.classList.toggle("active")
            }
        </script>
    {% endblock %}





